<div class="hello">
  <h1>Hello</h1>
</div>

<div class="name">
  <h1>I am Parth</h1>
</div>

<div class="headline">
  <h1>I am a Fullstack Engineer (frontend-focused) with 2.5 years of experience working with a leading German Bank. My
    skillset includes
    working in Angular, Javascript, Typescript, HTML, CSS and occasionally dabbling into Express and SpringBoot to
    handle some of the frontend tasks which have a backend dependency. My strengths include faster debugging,
    understanding complex flows of the application, breaking down bigger problem into easily manageable chunks and
    extracting out frequently occurring code parts into reusable chunks. Apart from my usual work, I love to explore new
    programming techniques and ways how I can improve my code quality. I value continuous learning and try to learn
    something new everyday.</h1>
</div>

<div class="work-experience">
  <div class="work-experience__section-1">
    <div class="work-experience__section-1--position">
      <h1>Accenture - Application Development Analyst</h1>
      <h1>Dec 2021 - Present</h1>
    </div>
    <div class="work-experience__section-1--work">
      <h1>Post Bank</h1>
      <h1>Postbank is new entity that was to be merged with Deustche Bank</h1>
      <h1>This project had a requirement of creating 12 website with complex use cases which were developed with
        Angular, TypeScript, HTML5, SCSS / CSS.</h1>
      <h1>I primarily worked as a frontend developer but I took care of the product that I built and often had to work
        on backend part as well which included contributing to a microservice based architecture based on a combination
        of Express and Spring Boot.</h1>
      <h1>I primarily worked as a frontend developer but I took care of the product that I built and often had to work
        on backend part as well which included contributing to a microservice based architecture based on a combination
        of Express and Spring Boot.</h1>
      <h1>The repositories which were built using Express.js were written in JavaScript.</h1>
      <h1>This project also used Git Flow and semver for managing release and deployments.</h1>
      <h1>There were frequent business requirements which came close to the release which occasionally included
        component changes in project library and often debugging JSON payloads but I handled them all.</h1>
      <h1>The team that I was part of worked on a total of 250 user stories with an average story points of 3.</h1>
      <h1>At times there were also requirements which had dependency on legacy tech, for example : pdf generation tech
        built in java which ran on apache2 server, which I understood and made changes according to the user story.</h1>
      <h1>Here I actively participated in code deployments, releases and code reviews.</h1>
      <h1>The changes made to any repositories were first tested locally and then tested on internal test environment
        and then deployed on testing environment and then the code was merged to develop branch and then ticket was
        moved for testers to test and then business to verify.</h1>
      <h1>The contributions made to this project always had to be generic so that other teams could use them and writing
        tests made sure that all the use cases were handled.</h1>
      <h1>Wherever it was possible, when I worked on a story, I always tried to distill it into logical statements and
        then try to extract tests out of it which led to easier coding and bug free coding.

        This project was delivered on time and is live now, serving users across the globe.</h1>



    </div>
  </div>
</div>

<router-outlet></router-outlet>
